<%= form_for @blog do |f| %>
 
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="row">
    <div class="col-md-6">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-6">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-2">
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Back', blogs_path, class: "btn btn-primary" %>
    </div>
  </div>
 
<% end %>